@import url('https://fonts.googleapis.com/css2? family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
/*liste des couleurs*/
:root {
    --color-yellow: #ffff00;
    --gradient-1: #eddedf67;
    --gradient-2: #89000967;
    --gradient-1hover: #eddedf;
    --gradient-2hover: #890009;
    --color: #f8f184;
    --gradient-3: #eddebf53;
    --gradient-4: #19587d4f;
    --color-black: #000;
    --color-white: #fff;
    --color: #c4c4c4;
    --color: #b11313;
    --color: #0d0e09;
}  
/* background de la partie header*/
header {
    background: url(/assets/Illustrations/Bathome1.png);
    background-size: cover;
    height: 898px;
    background-repeat: no-repeat;
    background-position: top center;
    
}
body {
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #000;
    cursor: default;
}
.bar {
    border-top: #BCBBBD 4px solid;
    position: relative;
    top: 132px;
    width: 86%;
    left: 102px;
    opacity: 0.2;
}
hr {
    opacity: 0.08;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    border-width: 2px;
    width: 100%;   
}
/*navigateur design*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.tete {
    margin-top: 25px;
    margin-left: 40px;
}
.content {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}
/* Changer la couleur de fond lorsque la souris passe sur le logo */
nav image {
    transition: filter 0.5s;
}
nav img:hover {
    filter: invert(4%) sepia(100%) saturate(1314%) hue-rotate(357deg) brightness(106%) contrast(101%);
    cursor: pointer;
    background: none;
}
nav li a:hover {
    color: #ffff00;

}
ul li {
    list-style-type: none;
    display: inline-block;
}
a {
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    font-weight: medium;

}
/* souligne et mise en gras de la rubrique menu*/
.menu li a{
    font-weight: medium;
    text-decoration: underline;
    cursor: default;
       
}
/* boutons style*/
.boutons li a{
    text-decoration: none;
    font-family:'Rajdhani', sans-serif;
    font-size: 20px;
    margin: 23px;
    padding: 20px 50px;
    background: linear-gradient(
        80deg,var(--gradient-1),var(--gradient-2)
    );       
} 
.boutons li a:hover {
        background: linear-gradient(
            80deg,var(--gradient-1hover),var(--gradient-2hover)
        );
        cursor: default;
} 
/*fleche de direction*/
.fleche {
    display: block;
    margin: 30px auto;
    margin-top: 320px;
} 
/* les scrollers et les reseaux*/
.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 40px;
    top: 200px;
}
.scroll .reseau {
    margin-top: 30px;
}
.scroll img {
    background: none;
}
.scroll a:hover{
    cursor: default;
}
.reseau:hover {
    cursor: default;
    filter: invert(4%) sepia(100%) saturate(1314%) hue-rotate(357deg) brightness(106%) contrast(101%);
}
/*gadget batman*/
.gadget {
    width: 150px;
    
}
.nemesis-gadget {
    display: flex;
}
/*texte de il est batman*/
.place {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 150px;
}
/*arrongement des titres,sous-titres et phrases*/
.titre {
    margin: 25px 0;
}
h1{
    font-family: 'Rajdhani', sans-serif;
    font-size: 36px;
    font-weight: medium;
}
h2 {
   font-size: 12px; 
   font-weight: bold;
   margin-bottom: 6px;   
}
h3 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 6px;
}
h4 {
    font-size: 12px;
    font-weight: normal;
    margin-top: 6px;
    
}
h5 {
    font-size: 5px;
}
p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 22px;
}
/*couleur du span 8.2*/
span {
    color: #ffff00;
}
.batman-personage {
    display: flex;
    justify-content: space-between;
}
/*couleur au survol*/
.survol:hover {
    transform: scale(1.1);
}
.il-est-batman {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 25px;
    font-weight: medium;
    margin: 30px 0;
}
/*alinement du texte*/
.texte {
    margin-bottom: 100px;
    text-align: justify;
    width: 89%;
}
.boutons {
    margin-top: 55px;
} 
.info {
    text-align: center;
}
 /*design de l'affiche*/ 
.content-affiche {
    display: flex;
    width: 50%;
    margin: 80px auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.affiche {
    padding: 20px;
    background: linear-gradient(
        150deg,var(--gradient-3),var(--gradient-4)
    );
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
button {
    position: relative;
    top: 240px;
    background: none;
    border: none;
    cursor: pointer;
}
/*Bonde annonce*/
.bonde-annonce img {
    padding-left: 30px;
    padding-bottom: 60px;
    margin: 80px auto;
    align-items: center;
    justify-content: center;
}
/*emplacement des boutons dans l'affiche*/
.suivant {
    right: -90%;
}
.retour {
    right: -1%;
}
/*background de la partie formulaire*/
#formulaire {
    background: linear-gradient(
        150deg,var(--gradient-3),var(--gradient-4)
    );
    padding: 70px 0;
}
/*Design de la partie formulaire*/
.form-tout {
    width: 50%;
    margin: 0 auto;
}
#formulaire h1 {
    text-align: center;
    margin-bottom: 40px;
}
.form {
    margin: 25px 0;
}
.coche {
    opacity: 0.5;
    font-size: 16px;
}
.form-tout p{
    margin: 25px 0;
}
.form-tout h1 {
    padding-bottom: 45px;
}
.form-tout input[type="email"], textarea {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #ffffff39;
    width: 100%;
    background-color: transparent;
    padding: 5px 0;
}
.form-tout input[type="email"]:hover {
    cursor: default;
}
.souhait {
    margin: 10px 0;
    border-bottom: 2px solid #ffffff39;
    font-size: 16px;
    opacity: 0.5;
}
.form-tout img {
    transform: rotate(30deg);
    width: 18px;
    background: none;
}
.choix {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.choix p {
    font-size: 16px;
    margin-top: 40px;
    border-top: none;
    border-bottom: 2px solid #ffffff39;
    width: 100%;
    opacity: 0.5;
}
::placeholder {
    font-size: 15px;
}
.form {
    font-size: 25px;
    font-weight: normal;
}
/*Design des boutons dans le formulaire*/
.btn-form {
    padding: 10px;
    display: flex;
    justify-content: center;
}
.btn-form input[type="radio"] {
    opacity: 0;
}
.btn-form label {
    border: 2px solid;
    border-image: linear-gradient( 100deg,var(--gradient-3),var(--gradient-4)
    ) 1;
    padding: 10px 30px;
    margin-right: 40px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 10px;
    font-weight: bold;
}
.btn-form label:hover {
    background: linear-gradient( 100deg,var(--gradient-3),var(--gradient-4)
    );
} 
input[type="submit"]{
    display: block;
    width: 250px;
    margin: 20px auto;
    padding: 25px 0;
    cursor: pointer;
    background: linear-gradient(
        80deg,#eddedf85,#8900099a
    );
    border: none;
}
input[value="CONFIRMER"] {
    color: var(--color-white);
    font-size: 15px;
}
/*design de la partie citation*/
.citation {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.auteur {
    padding-top: 25px;
    font-weight: normal;
    font-size: 14px;
    opacity: 0.8;

}
.citation-texte {
    font-size: 17px;
}
/*design des guillement*/
#citation .guillement-g {
    margin-top: 200px;
    margin-left: 100px;
    margin-bottom: 25px;

}
#citation .guillement-d {
    float: right;
    margin-right: 100px;
}
/*design du footer citation*/
.icon-item img {
    background: none;
}
footer .icon-item img:hover {
    cursor: default;
    background: none;
    filter: invert(4%) sepia(100%) saturate(1314%) hue-rotate(357deg) brightness(106%) contrast(101%);
}
.resp {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 200px;
}
.icon-item {
    text-align: center;
    margin: 40px;
}
.social-item {
    padding: 15px;
}
.x {
    padding-left: 10px;
    padding-right: 10px;
}
