body{
    margin: 0px;
    padding: 20px;
    border-left: white 10px;
    border-right: white 10px;
    background-color: black;
    
}
/* background de la partie header*/
header {
    background: url('Illustrations/Bathome1.png');
    background-size: cover;
    width: 1440px;
    height: 901px;
}
/* Changer la couleur de fond lorsque la souris passe sur le logo */
header img:hover {
    background-color: #ffff00;
}
ul li {
    list-style-type: none;
    display: inline-block;
}
/* souligne et mise en gras de la rubrique menu*/
.menu li a{
    font-weight: bold;
    text-decoration: underline;
}
/* bouton style*/
.boutons li a{
    text-decoration: none;
}
ul li a{
    color: white;
}
p {
    color: white;
}
h2 {
    color: white;
}
h1{
    color: white;
}
h3 {
    color: white;
}
span {
    color: yellow;
}
label {
    color: white;
}